<script>
	import BottomNavigation from './BottomNavigation.svelte';
	import Space from './Space.svelte';
</script>
<Space/>
<div class="main-container">
	<div class="content">
		<slot />
	</div>
	<BottomNavigation />
</div>

<style>
	.main-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	.content {
		flex-grow: 1;
	}
	:global(body) {
		padding: 0;
		margin: 0;
	}
</style>
