<script>
  let activePage = 'home';

  function navigate(page) {
    activePage = page;
    // Add logic for navigating to the selected page
  }
</script>

<style>
  .bottom-nav {
    display: flex;
    justify-content: space-around;
    background-color: #0e0e10;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.9rem;
    color: #ffffff;
    cursor: pointer;
    opacity: 0.7;
  }
  .nav-item:hover{
    opacity: 0.9;
  }

  .nav-item.active {
    opacity: 1;
  }

  .nav-icon {
    width: 24px;
    height: 24px;
  }
</style>

<div class="bottom-nav">
  <a class="nav-item" href="/">
    <img
      class="nav-icon"
      src="home_icon.svg"
      alt="Home icon"
    />
    <span>Home</span>
  </a>
  <a class="nav-item" href="/tasks">
    <img
      class="nav-icon"
      src="tasks_icon.svg"
      alt="Tasks icon"
    />
    <span>Tasks</span>
  </a>
  <a class="nav-item" href="/rewards">
    <img
      class="nav-icon"
      src="./images/icon/tasks.webp"
      alt="Rewards icon"
    />
    <span>Rewards</span>
  </a>
  <a class="nav-item" href="/profile">
    <img
      class="nav-icon"
      src="profile_icon.svg"
      alt="Profile icon"
    />
    <span>Profile</span>
  </a>
</div>
