<script>
    let userName = 'John Doe';
    let avatarUrl = './images/avatar/1.webp';
    let userStats = {
    level: 1,
    experience: 50,
    maxExperience: 100,
    health: 75,
    maxHealth: 100,
  };
</script>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    /* background-color: #0e0e10; */
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .avatar-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-stats {
    display: flex;
    gap: 1rem;
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }

  .progress-bar {
    background-color: #2e2e30;
    border-radius: 5px;
    overflow: hidden;
    width: 100px;
    height: 10px;
  }

  .progress {
    height: 100%;
  }

  .xp-progress {
    background-color: #4caf50;
  }

  .hp-progress {
    background-color: #f44336;
  }
</style>

<header class="header">
  <div class="avatar-container">
    <img class="avatar" src={avatarUrl} alt="User avatar" />
    <span>{userName}</span>
  </div>
  <div class="user-stats">
    <div class="stat">
      <span>Level</span>
      <span>{userStats.level}</span>
    </div>
    <div class="stat">
      <span>XP</span>
      <div class="progress-bar">
        <div
          class="progress xp-progress"
          style="width: {userStats.experience / userStats.maxExperience * 100}%"
        ></div>
      </div>
    </div>
    <div class="stat">
      <span>HP</span>
      <div class="progress-bar">
        <div
          class="progress hp-progress"
          style="width: {userStats.health / userStats.maxHealth * 100}%"
        ></div>
      </div>
    </div>
  </div>
</header>