<script>
    let currentSolarSystem = 'Alpha Centauri';
    let currentPlanet = 'Proxima Centauri b';
  </script>
  
  <style>
    .location-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      background: linear-gradient(135deg, #3a7bd5 0%, #3a6073 100%);
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #ffffff;
    }
  
    .location-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .location-info {
      font-size: 1.2rem;
    }
  </style>
  
  <div class="location-container">
    <div class="location-title">Current Location</div>
    <div class="location-info">Solar System: {currentSolarSystem}</div>
    <div class="location-info">Planet: {currentPlanet}</div>
  </div>
  