<script>
    let notifications = [
      { type: 'task', text: 'Task 1 completed!' },
      { type: 'reward', text: '5-Day Streak reward earned!' },
      { type: 'habit', text: 'Habit 1 progressed!' },
    ];
  </script>
  
  <style>
    .notifications-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      background: linear-gradient(135deg, #ff9966 0%, #ff5e62 100%);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #ffffff;
      width: 100%;
    }
  
    .notifications-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .notifications-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .notification {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.2rem;
    }
  
    .notification-icon {
      font-size: 1.4rem;
    }
  </style>
  
  <div class="notifications-container">
    <div class="notifications-title">Notifications</div>
    <div class="notifications-list">
      {#each notifications as notification}
        <div class="notification">
          <span class="notification-icon">
            {notification.type === 'task' ? '✅' : notification.type === 'reward' ? '🏆' : '🔄'}
          </span>
          {notification.text}
        </div>
      {/each}
    </div>
  </div>
  