<script>
    import { onMount } from "svelte";
    import * as THREE from "three";
  
    let container;
    let camera, scene, renderer, stars;
  
    onMount(() => {
      init();
      animate();
    });
  
    function init() {
      camera = new THREE.PerspectiveCamera(
        75,
        container.clientWidth / container.clientHeight,
        0.1,
        2000
      );
      camera.position.z = 1000;
  
      scene = new THREE.Scene();
  
      stars = createStars(5000);
      scene.add(stars);
  
      renderer = new THREE.WebGLRenderer();
      renderer.setSize(container.clientWidth, container.clientHeight);
      container.appendChild(renderer.domElement);
  
      window.addEventListener("resize", onWindowResize);
    }
  
    function createStars(count) {
      const geometry = new THREE.BufferGeometry();
      const positions = new Float32Array(count * 3);
  
      for (let i = 0; i < positions.length; i += 3) {
        positions[i] = (Math.random() - 0.5) * 2000;
        positions[i + 1] = (Math.random() - 0.5) * 2000;
        positions[i + 2] = -Math.random() * 2000;
      }
  
      geometry.setAttribute(
        "position",
        new THREE.BufferAttribute(positions, 3)
      );
  
      const material = new THREE.PointsMaterial({
        color: 0xffffff,
        size: 5,
      });
  
      return new THREE.Points(geometry, material);
    }
  
    function animate() {
    requestAnimationFrame(animate);
  
    // Move stars towards the camera.
    stars.geometry.attributes.position.array.forEach((_, index, positions) => {
      if (index % 3 === 2) {
        positions[index] += 10;
  
        // If the star has passed the camera, reset its position.
        if (positions[index] > 1000) {
          positions[index] = -2000 + Math.random() * 1000;
        }
      }
    });
  
    // Update the geometry attributes for the stars.
    stars.geometry.attributes.position.needsUpdate = true;
  
    renderer.render(scene, camera);
  }
  
  
    function onWindowResize() {
      camera.aspect = container.clientWidth / container.clientHeight;
      camera.updateProjectionMatrix();
  
      renderer.setSize(container.clientWidth, container.clientHeight);
    }
  </script>
  
  <style>
    #container {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  </style>
  
  <div id="container" bind:this={container}></div>
  