<script>
    let dailyStreak = 5;
    let rewards = [
      { name: '5-Day Streak', earned: true },
      { name: '10-Day Streak', earned: false },
      { name: '30-Day Streak', earned: false },
    ];
  </script>
  
  <style>
    .streak-rewards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      background: linear-gradient(135deg, #283c86 0%, #45a247 100%);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #ffffff;
      width: 100%;
    }
  
    .streak-rewards-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .daily-streak {
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    .rewards-list {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
  
    .reward {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 1.1rem;
    }
  
    .reward.earned {
      background-color: rgba(255, 255, 255, 0.6);
    }
  </style>
  
  <div class="streak-rewards-container">
    <div class="streak-rewards-title">Daily Streak & Rewards</div>
    <div class="daily-streak">Current Streak: {dailyStreak} days</div>
    <div class="rewards-list">
      {#each rewards as reward}
        <div class={`reward ${reward.earned ? 'earned' : ''}`}>
          {reward.name}
        </div>
      {/each}
    </div>
  </div>
  