<script>
    let taskProgress = 75;
    let habitProgress = 60;
  </script>
  
  <style>
    .progress-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      background: linear-gradient(135deg, #3a6186 0%, #89253e 100%);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      color: #ffffff;
      width: 100%;
    }
  
    .progress-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .progress-bar-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  
    .progress-bar {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      width: 100%;
      height: 15px;
      margin: 0 0.5rem;
      position: relative;
    }
  
    .progress {
      background-color: #ffffff;
      border-radius: 5px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    .progress-label {
      font-size: 1.2rem;
    }
  </style>
  
  <div class="progress-container">
    <div class="progress-title">Progress</div>
    <div class="progress-bar-container">
      <div class="progress-label">Tasks</div>
      <div class="progress-bar">
        <div class="progress" style="width: {taskProgress}%;"></div>
      </div>
    </div>
    <div class="progress-bar-container">
      <div class="progress-label">Habits</div>
      <div class="progress-bar">
        <div class="progress" style="width: {habitProgress}%;"></div>
      </div>
    </div>
  </div>
  