<script>
    let todos = [
      {
        id: 1,
        type: 'single',
        title: 'Buy groceries',
        completed: false,
      },
      {
        id: 2,
        type: 'quest',
        title: 'Complete project report',
        questName: 'Work Project',
        completed: true,
      },
      {
        id: 3,
        type: 'daily',
        title: 'Exercise for 30 minutes',
        completed: false,
      },
    ];
  
    function toggleCompletion(todo) {
      todo.completed = !todo.completed;
      // Add logic to update the todo completion status in your backend
    }
  </script>
  
  <style>
    .todo-list {
      list-style-type: none;
      padding: 0;
    }
  
    .todo-item {
      display: flex;
      align-items: center;
      gap: 1rem;
      background-color: #1a1a2b;
      border-radius: 5px;
      padding: 0.75rem 1rem;
      margin-bottom: 1rem;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  
    .checkbox {
      width: 24px;
      height: 24px;
      cursor: pointer;
      background-color: #f5f5f5;
      border-radius: 50%;
    }
  
    .todo-title {
      flex-grow: 1;
      text-decoration: none;
      color: #f5f5f5;
    }
  
    .todo-title.completed {
      text-decoration: line-through;
      color: #888;
    }
  
    .todo-type {
      font-size: 0.9rem;
      color: #aaa;
    }
  </style>
  
  <ul class="todo-list">
    {#each todos as todo}
      <li class="todo-item">
        <input
          class="checkbox"
          type="checkbox"
          bind:checked={todo.completed}
          on:change={() => toggleCompletion(todo)}
        />
        <span class={`todo-title ${todo.completed ? 'completed' : ''}`}>
          {todo.title}
        </span>
        <span class="todo-type">
          {todo.type === 'single'
            ? 'Single Todo'
            : todo.type === 'quest'
            ? `Quest: ${todo.questName}`
            : 'Daily Habit'}
        </span>
      </li>
    {/each}
  </ul>
  