<script>
	import { writable } from 'svelte/store';
	import { generateSteps } from './chatGPT.js';

	let input = '';
	// Replace with your actual OpenAI API key
	const API_KEY = '';

	const todoTasks = writable([]);
	const dailyTasks = writable([]);
	const habitTasks = writable([]);

	async function addTask() {
		if (input.value) {
			const steps = await generateSteps(input.value, API_KEY);
			todoTasks.update((tasks) => [...tasks, ...steps]);
			input.value = '';
			console.log(steps);
		}
	}
</script>

<input bind:this={input} />
<button on:click={addTask}>submit</button>
<!-- The rest of the Tasks.svelte component -->
